body {
    background-color: lightgray;
}


.eger_kep {
    width: 100%;
}
.eger_szoveg {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: black;
}

.nagy_oldal_box {
    background-image: url(Hatter.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    margin-top: 50px;
}
.fooldal_box {
    color: white;
    font-weight: bold;
    margin: 100px;
    border-radius: 25px;
    border-color: black;
    border-width: 4px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

.valasztas {
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    font-size: 22px;
    width: 160px;
    border-radius: 20px;
    background-color: gray;
    margin: 40px;
    padding: 20px;
    border: none;
    color: black;
    outline: none;
    background-image: linear-gradient(135deg, #4681f4 0%, #55c2da 100%);
    box-shadow: (cyan, blue, 0.5);
}
.valasztas :hover{
    box-shadow: none;
    transform: translateY(3px);
}
.valasztas :active {
    opacity: 0.5;
}

.logo {
    height: 70px;
}

.kep {
    width: 80%;
    border-radius: 10px;
}
